@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 400;
	font-display: fallback;
	src: local(""),
		url("../../font/fira-sans-v16-latin-400.woff2") format("woff2"),
		url("../../font/fira-sans-v16-latin-400.woff") format("woff");
}

@font-face {
	font-family: 'Fira Sans';
	font-style: normal;
	font-weight: 800;
	font-display: fallback;
	src: local(""),
		url("../../font/fira-sans-v16-latin-800.woff2") format("woff2"),
		url("../../font/fira-sans-v16-latin-800.woff") format("woff");
}
